<HTML>
<HEAD>
    <META http-equiv=Content-Type CONTENT="text/html; charset=gbk" />
	<TITLE>无线自助点餐平台</TITLE>
	<LINK HREF="/static/style/blue/login.css" type=text/css rel=stylesheet />
</HEAD>
<BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 CLASS=PageBody >
<FORM METHOD="post" NAME="actForm" ACTION="/user/user_login">
    <DIV ID="CenterAreaBg">
        <DIV ID="CenterArea">
            <DIV ID="LogoImg" style="font-weight: bold;color: white;">无线自助点餐平台</DIV>
            <DIV ID="LoginInfo">
                <TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 width=100%>
                    <TR>
                        <TD width=45 CLASS="Subject"><IMG BORDER="0" SRC="/static/style/blue/images/login/userId.gif" /></TD>
                        <TD><INPUT SIZE="20" CLASS="TextField" TYPE="text" NAME="username" /></TD>
                        <TD ROWSPAN="2" STYLE="padding-left:10px;"><INPUT TYPE="image" SRC="/static/style/blue/images/login/userLogin_button.gif"/></TD>
                    </TR>
                    <TR>
                        <TD CLASS="Subject"><IMG BORDER="0" SRC="/static/style/blue/images/login/password.gif" /></TD>
                        <TD><INPUT SIZE="20" CLASS="TextField" TYPE="password" NAME="password"/></TD>
                    </TR>
                </TABLE>
                <DIV ID="LogoImg" style="font-weight: bold;color: red;"></DIV>
            </DIV>
            <DIV ID="CopyRight"><A HREF="javascript:void(0)">&copy; 2020 版权所有 无线自助点餐平台</A></DIV>
        </DIV>
    </DIV>
</FORM>
</BODY>
</HTML>

    